[submodule "tre-forward"]
	path = modules/tre-forward
	url = https://github.com/nationalarchives/tre-tf-module-tre-forward.git
[submodule "common"]
	path = modules/common
	url = https://github.com/nationalarchives/tre-tf-module-common.git
[submodule "step_functions/validate-bag"]
	path = modules/step_functions/validate-bag
	url = https://github.com/nationalarchives/tre-tf-module-validate-bag.git
[submodule "step_functions/dri_preingest_sip_generation"]
	path = modules/step_functions/dri_preingest_sip_generation
	url = https://github.com/nationalarchives/tre-tf-module-dpsg.git
